@model ClothBazar.Entities.Category
@{
     ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>
<form id="editCategory">

    <input type="hidden" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>
    <br />
    <label>Descripton</label>
    <input name="Description"  value="@Model.Description"/>
    <br />
    <button id="updateBtn" type="button">Update</button>
</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type:"Post",
            url: "",
            data: $("#editCategory").serialize()
        })
    });

</script>

